TimberDimmer/.vs/TimberDimmer/v15/.suo
TimberDimmer/.vs/TimberDimmer/v15/Server/sqlite3/db.lock
TimberDimmer/.vs/TimberDimmer/v15/Server/sqlite3/storage.ide
TimberDimmer/.vs/TimberDimmer/v15/Server/sqlite3/storage.ide-shm
TimberDimmer/.vs/TimberDimmer/v15/Server/sqlite3/storage.ide-wal
TimberDimmer/.vs/UrbanParadiseBirds/v15/.suo
TimberDimmer/.vs/UrbanParadiseBirds/v15/Server/sqlite3/db.lock
TimberDimmer/.vs/UrbanParadiseBirds/v15/Server/sqlite3/storage.ide
TimberDimmer/.vs/UrbanParadiseBirds/v15/Server/sqlite3/storage.ide-shm
TimberDimmer/.vs/UrbanParadiseBirds/v15/Server/sqlite3/storage.ide-wal
